/*-------------------------------------------
    Colors
-------------------------------------------*/
$link-color: #0088cc;
$yellow: #ffce39;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 17;
$base-font-size: 17px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "proxima-nova-alt-condensed",sans-serif;
$body-font: "ff-tisa-web-pro",serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px; /* 480px / 16px; */
$break-medium: 768px; /* 768px / 16px; */
$break-large: 980px; /* 980px / 16px; */
$break-xlarge: 1140px; /* 1140px / 16px; */