.container {
	overflow: hidden;
}

#main:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.03);	
}
#menu,
#main {
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;		
	-ms-transition: .2s all ease;
	transition: .2s all ease;		
	width: 100%;
	xpadding: 5%;
	display: block;	
	xposition: relative;
}
.js #menu {	
	margin-left: -100%;
	float: left;
	padding-bottom: 25em;
	z-index: 2;	
}
.js #main {
	margin-left: 0;
	box-shadow: -10px 0 35px rgba(0,0,0,.1);
	float: left;
	z-index: 1;
	position: relative;
}	
.active-nav #menu {	
	margin-left: 0;	
	width: 80%;
}
.active-nav #main{
	margin-right: -100%;
}
.active-sidebar #menu {	
	margin-left: -200%;
}
.active-sidebar #main {
	margin-left: -90%;	
}
.active-nav #main {
	-webkit-transition: .1s all ease;
	-moz-transition: .1s all ease;
	-o-transition: .1s all ease;		
	-ms-transition: .1s all ease;
	transition: .1s all ease;	
}

/* Off Canvas Navigation */
.off-canvas-navigation {
	width: 100%;
	overflow: hidden;
	display: block;
	color: #fff;
	padding: 10px;
	position: relative;
	@media screen and (min-width: 650px) {
		display: none;
	}
}
.off-canvas-navigation ul {
	margin: 0;
}
.off-canvas-navigation ul li {
	width: 22%;
	display: block;
	float: left;
}
.menu-button {
	padding: 12% 20%;
	font-family: $heading-font;
	font-size: 16px;
	display: block;
	background: #333;
	background: rgba(0,0,0,.9);
	color: #fff;
	letter-spacing: 1px;
	border-radius: 5px;
	box-shadow: inset 0 20px 20px rgba(255,255,255,.1);
	text-align: center;
	text-transform: uppercase;
}
.menu-button.active-button {
}
a.menu-button:hover {
	text-decoration: none;	
	background: #666;
	background: rgba(0,0,0,.75);
}	

@media all and (min-width: 650px) {				
	.off-canvas-navigation ul li {
		float: right;
		width: 20%;
	}	
	.menu-button {
		display: none;
	}
	.js #menu {
		width: 27%;	
		margin-left: 0;
	}
	.js #main {
		width: 73%;
		float: left;
	}			
	.active-sidebar #menu {	
		margin-left: -100%;
	}
	.active-sidebar #main {
		margin-left: 0;
		width: 60%;
	}		
}

@media all and (min-width: $break-large) {
	.js #menu {
		width: 33%;	
	}
	.js #main {
		width: 67%;
	}						
}
