#main:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: #fff;	
}
#menu, #main {
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;		
	-ms-transition: .2s all ease;
	transition: .2s all ease;		
	width: 100%;
	xpadding: 5%;
	display: block;	
	xposition: relative;
}

.js #menu {	
	margin-left: -100%;
	float: left;
	z-index: 2;
	border-right: 1px solid #e5e5e5;
	box-shadow: 10px 0 10px -10px rgba(0,0,0,.2);
	@media screen and (min-width: $break-medium) {
		float: none;
		width: 27%;	
		margin-left: 0;
	}
	@media screen and (min-width: $break-large) {
		width: 30%;
	}
}
.affix-top {
	@media screen and (min-width: $break-medium) {
		position: absolute;
	}
}
.affix {
	@media screen and (min-width: $break-medium) {
		position: fixed;
		top: 0;
	}
}

.js #main {
	float: left;
	margin-left: 0;
	z-index: 1;
	position: relative;
	@media screen and (min-width: $break-medium) {
		margin-left: 27%;
		width: 73%;
		float: none;
	}
	@media screen and (min-width: $break-large) {
		width: 70%;
		margin-left: 30%;
	}
}	
.active-nav #menu {	
	margin-left: 0;	
	width: 80%;
}
.active-nav #main{
	margin-right: -100%;
}
.active-sidebar #menu {	
	margin-left: -200%;
}
.active-sidebar #main {
	margin-left: -90%;	
}
.active-nav #main {
	-webkit-transition: .1s all ease;
	-moz-transition: .1s all ease;
	-o-transition: .1s all ease;		
	-ms-transition: .1s all ease;
	transition: .1s all ease;	
}

/* Off Canvas Navigation */
.off-canvas-navigation {
	width: 100%;
	overflow: hidden;
	display: block;
	color: #fff;
	padding: 10px;
	position: relative;
	z-index: 2;
	@media screen and (min-width: $break-medium) {
		display: none;
	}
}
.off-canvas-navigation ul {
	margin: 0;
}
.off-canvas-navigation ul li {
	width: 22%;
	display: block;
	float: left;
}
.menu-button {
	padding: 12% 20%;
	font-family: $heading-font;
	font-size: 16px;
	display: block;
	background: #333;
	background: rgba(0,0,0,.9);
	color: #fff;
	letter-spacing: 1px;
	border-radius: 5px;
	box-shadow: inset 0 20px 20px rgba(255,255,255,.1);
	text-align: center;
	text-transform: uppercase;
}
.menu-button.active-button {
}
a.menu-button:hover {
	text-decoration: none;	
	background: #666;
	background: rgba(0,0,0,.75);
}	

@media all and (min-width: $break-medium) {				
	.off-canvas-navigation ul li {
		float: right;
		width: 20%;
	}	
	.menu-button {
		display: none;
	}			
	.active-sidebar #menu {	
		margin-left: -100%;
	}
	.active-sidebar #main {
		margin-left: 0;
		width: 60%;
	}		
}
