.affix-top {
	@media screen and (min-width: $break-large) {
		position: absolute;
		top: 0;
	}
}
.affix {
	@media screen and (min-width: $break-large) {
		position: fixed;
		top: 0;
	}
}

#menu, #main {
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;		
	-ms-transition: .2s all ease;
	transition: .2s all ease;
}

#menu {	
	@include gradient($color: #000, $start-color: #333, $end-color: #000);
	z-index: 2;
	border-right: 1px solid #ddd;
	box-shadow: 10px 0 10px -10px rgba(0,0,0,.2);
	@media screen and (min-width: $break-large) {
		width: 34%;	
	}
}


.js #main {
	margin-left: 0;
	z-index: 1;
	position: relative;
	@media screen and (min-width: $break-large) {
		margin-left: 34%;
		width: 66%;
		float: none;
	}
}	