.affix-top {
	@media screen and (min-width: $break-large) {
		position: absolute;
		top: 0;
	}
}
.affix {
	@media screen and (min-width: $break-large) {
		position: fixed;
		top: 0;
	}
}

#menu, #main {
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;		
	-ms-transition: .2s all ease;
	transition: .2s all ease;
}

#menu {	
	@include gradient($color: $link, $start-color: $highlight-sec, $end-color: $highlight);
	z-index: 2;
	border-right: 1px solid #ddd;
	box-shadow: 10px 0 10px -10px rgba(0,0,0,.2);
	@media screen and (min-width: $break-large) {
		width: 34%;	
	}
}


.js #main {
	margin-left: 0;
	z-index: 1;
	position: relative;
	@media screen and (min-width: $break-large) {
		margin-left: 34%;
		width: 66%;
		float: none;
	}
}	


/* Off Canvas Navigation */
.off-canvas-navigation {
	width: 100%;
	overflow: hidden;
	display: block;
	color: #fff;
	padding: 10px;
	position: relative;
	z-index: 2;
	@media screen and (min-width: $break-medium) {
		display: none;
	}
}
.off-canvas-navigation ul {
	margin: 0;
}
.off-canvas-navigation ul li {
	width: 22%;
	display: block;
	float: left;
}
.menu-button {
	padding: 12% 20%;
	font-family: $heading-font;
	font-size: 16px;
	display: block;
	background: #333;
	background: rgba(0,0,0,.9);
	color: #fff;
	letter-spacing: 1px;
	border-radius: 5px;
	box-shadow: inset 0 20px 20px rgba(255,255,255,.1);
	text-align: center;
	text-transform: uppercase;
}
.menu-button.active-button {
}
a.menu-button:hover {
	text-decoration: none;	
	background: #666;
	background: rgba(0,0,0,.75);
}	

@media all and (min-width: $break-medium) {				
	.off-canvas-navigation ul li {
		float: right;
		width: 20%;
	}	
	.menu-button {
		display: none;
	}			
	.active-sidebar #menu {	
		margin-left: -100%;
	}
	.active-sidebar #main {
		margin-left: 0;
		width: 60%;
	}		
}
