/* Base styles
========================================================================== */
html, body {
	height: 100%;
}
html {
	font-size: $base-font-size;
}
body {
	background: #fff;
	color: #444;
	font-family: $body-font;
	font-size: $base-font-size;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	
}
body.HomePage {
	@media screen and (max-width: $break-medium) {
		background: url(../images/fallback.jpg) no-repeat 0 0;
		background-size: contain;
	}
}


/* Layout
========================================================================== */
#content-wrapper {
	
	position: relative;
	@media screen and (min-width: $break-large) {
		height: 100%;
	}
}


/* Division Bar */
body .division-topbar {
	z-index: 1;
	@media screen and (min-width: $break-medium) {
		position: relative;
		z-index: 100;
		box-shadow: 0 5px 5px rgba(0,0,0,.15);
	}
}

.division-topbar .wrapper {
	@media screen and (min-width: $break-large) {
		max-width: none;
		padding-left: 10px;
		padding-right: 10px;
	}
}


/* MENU
========================================================================== */
.year {
	color: #fff;
	display: block;
	font-family: $heading-font;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 5px 0;
	text-align: center;
	@media screen and (min-width: $break-large) {
		font-size: 13px;
	}
}
.year span {
	display: inline-block;
	position: relative;  
}
.year span:before,
.year span:after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 1px solid white;
	border-bottom: 1px solid rgba(255,255,255,.35);
	top: 6px;
	width: 20px;
}
.year span:before {
	right: 100%;
	margin-right: 8px;
}
.year span:after {
	left: 100%;
	margin-left: 8px;
}


.heading-main {
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.2;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	@media screen and (min-width: $break-large) {
		font-size: 24px;
	}
}
.break {
	@media screen and (min-width: $break-large) {
		display: block;
	}
}
.heading-sec {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.1;
	margin-top: 8px;
	padding: 0;
	text-align: center;
	@media screen and (min-width: $break-large) {
		font-size: 10px;
	}
}
.oldcap-logo {
	display: block;
	padding: 20px 0;
	position: relative;
	text-decoration: none;
	z-index: 2;
	&:hover {
		text-decoration: none;
	}
	@media screen and (min-width: $break-large) {
		padding: 10px 0;
	}
}
.oldcap-logo img {
	display: block;
	margin: 0 auto;
	padding: 5px 35px;
}
.oldcap-logo {
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: -2px;
}
.logo-block {
	background-color: #000;
	position: absolute;
	bottom: -3px;
	height: 6px;
	margin-left: -20%;
	left: 50%;
	width: 40%;
	@media screen and (min-width: $break-large) {
		margin-left: -25%;
		width: 50%;
	}
}


.menu {
	box-shadow: 0 3px 3px rgba(0,0,0,.1);
	@media screen and (min-width: $break-large) {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
	}
	@media screen and (min-width: $break-large) {
		@include gradient($color: $link, $start-color: $highlight-sec, $end-color: $highlight);
		display: block;
		left: 0;
		bottom: 0;
		width: 100px;
		position: absolute;
		height: 100%;
	}
}
.main-nav {
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255,255,255,.35);
	list-style: none;
	margin: 0;
	margin-top: -2px;
	padding: 0;
	& li {
		border-bottom: 1px solid #fff;
		border-bottom: 1px solid rgba(255,255,255,.35);
		float: left;
		width: 33.3333%;
		@media screen and (min-width: $break-small) {
			width: 16.66666666666667%;
		}
		@media screen and (min-width: $break-large) {
			float: none;
			width: 100%;
		}
	}
	& a {
		color: #fff;
		display: block;
		font-family: $heading-font;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 2px;
		padding: 9px 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		&:hover, &:focus {
			background-color: rgba(255,255,255,.15);
		}
	}
	@media screen and (min-width: $break-large) {
		display: block;
		margin-top: 0;
	}
}
.main-nav .active {
	background-color: $highlight;
	color: #eee;
	&:hover {
		background-color: $highlight;
		color: #eee;
	}
}



/* Pace Loading Bar */
.pace .pace-progress {
  background: #ffce39;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
     -moz-transition: width 1s;
       -o-transition: width 1s;
          transition: width 1s;
}

.pace-inactive {
  display: none;
}
