/* Base styles
========================================================================== */
html {
	font-size: $base-font-size;
}
body {
	background: #fff;
	color: #444;
	font-family: $body-font;
	font-size: $base-font-size;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	xposition: relative;
	top: 43px;
}

/* Layout
========================================================================== */
.container {
	margin: 0 auto;
	max-width: 980px;
	padding: 0 1em;
}
body .division-topbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}
.division-topbar .wrapper {
	max-width: none;
	padding: 0 1em;
}

/* MENU
========================================================================== */
.menu {
	border-right: 1px solid #ddd;
	background: #fff;
	display: none;
	position: fixed;
	top: 43px;
	left: 0;
	bottom: 0;
	width: 101px;
	height: 100%;
	z-index: 1000;
	-webkit-box-shadow: 3px 0 3px rgba(0,0,0,.05);
	@media screen and (min-width: $break-large) {
		display: block;
	}
}
.menu img {
	display: block;
}
.menu-dosl {
	margin: 0 auto;
}
.pos-btm {
	position: absolute;
	bottom: 20px;
	left: 18px;
}

/* NAVIGATION
========================================================================== */
.main-nav {
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
	margin: 0;
	margin-top: -4px;
	padding: 0;
	& li {
		border-top: 1px solid #e5e5e5;
	}
	& a {
		xbackground: url(../images/tag_icon.png) no-repeat 25px 48%;
		color: #888;
		display: block;
		font-family: $heading-font;
		font-size: 14px;
		letter-spacing: 1px;
		padding: 10px 0 11px 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			background-color: #fcfcfc;
			color: #333;
		}
	}
}
.main-nav .active {
	background-color: #fff;
}


/* HOME
========================================================================== */
.home-content {
	margin-left: 25%;
	height: 100%;
	position: absolute;
	width: 75%;
	@media screen and (min-width: $break-large) {
		margin-left: 35%;
		width: 65%;
	}
}
.home-content .dosl {
	margin: 0 auto;
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -200px;
}


/* PREVIEW LIST
========================================================================== */
.preview-list {
	height: 100%;
	overflow: auto;
	background: #fff;
	overflow-x: hidden;
	position: fixed;
	top: 43px;
	bottom: 0;
	width: 25%;
	-ms-overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 900;
	@media screen and (min-width: $break-large) {
		padding-left: 100px;
		width: 33%;
	}
}
.preview-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	& li {
		background: #f8f9f8;
		border-bottom: 1px solid #e5e5e5;
		box-shadow: -4px 0 3px rgba(0,0,0,.03) inset;
		width: 100%;
		&:hover {
			background-color: #fcfcfc;
		}
		&.active {
			background: #fff;
		}
	}
}
.preview-link {
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 7% 5%;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	@media screen and (min-width: $break-large) {
		padding: 5%;
	}
}
.preview-link:hover {
	
	text-decoration: none;
}
.preview-thumb {
	display: none;
	@media screen and (min-width: $break-xlarge) {
		display: block;
		float: left;
		margin-top: .3em;
		width: 15%;
	}
}
.preview-title {
	color: #222;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	@media screen and (min-width: $break-large) {
		font-size: 16px;
		xtext-transform: uppercase;
		letter-spacing: 1px;
	}
	@media screen and (min-width: $break-xlarge) {
		font-size: 20px;
		letter-spacing: 0;
		margin-left: 20%;
	}
}
.preview-link:hover .title {
	text-decoration: underline;
}
.preview-dept {
	color: #888;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.3;
	margin-top: 0.5em;
	@media screen and (min-width: $break-xlarge) {
		margin-left: 20%;
	}
}
.preview-excerpt {
	color: #444;
	display: none;
	font-size: 14px;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	line-height: 1.3;
	@media screen and (min-width: $break-medium) {
		xoverflow: hidden;
		xtext-overflow: ellipsis;
		xdisplay: -webkit-box;
		x-webkit-line-clamp: 3;
		x-webkit-box-orient: vertical;
	}
	@media screen and (min-width: $break-large) {
		x-webkit-line-clamp: 3;
		display: block;;
	}
	@media screen and (min-width: $break-xlarge) {
		font-size: 15px;
		line-height: 1.4;
		margin-left: 20%;
	}
}


/* ARTICLE
========================================================================== */
.article {
	border-left: 1px solid #e5e5e5;
	margin-left: 25%;
	position: relative;
	top: 43px;
	@media screen and (min-width: $break-large) {
		margin-left: 33%;
	}
}
.article-body, .article-header {
	margin: 0 auto;
	width: 80%;
	@media screen and (min-width: $break-xlarge) {
		width: 65%;
	}
}
.article-img img {
	display: block;
	width: 100%;
}
/* Header */
.article-title {
	background: #fff;
	xborder-top: 1px dotted #ccc;
	xborder-bottom: 1px dotted #ccc;
	font-size: 35px;
	margin: 30px 0 15px;
	padding: 15px 0 0;
	text-transform: none;
	@media screen and (min-width: $break-medium) {
		font-size: 45px;
	}
	@media screen and (min-width: $break-large) {
		font-size: 50px;
	}
}
.article-meta {
	padding-bottom: 10px;
}
.article-meta p {
	color: #888;
	font-family: $heading-font;
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0 0 12px;
}
.article-meta p em {
	color: #333;
	font-family: $body-font;
	font-size: 15px;
	font-style: italic;
	letter-spacing: 0;
	line-height: 24px;
	margin-left: 2px;
}

/* Excerpt */
.article-excerpt {
	color: #0087b7;
	font-size: 22px;
	font-style: italic;
	margin: 1.5em 0;
}

/* Article Content */
.article-content {
	padding-bottom: 3em;
	& p, & ul, & ol {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
.article-content blockquote {
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
	margin-right: 2em;
	margin-left: -5%;
	float: left;
	width: 40%;
	@media screen and (min-width: $break-xlarge) {
		margin-left: -15%;
	}
}
.article-content blockquote.right {
	float: right;
	margin-left: 2em;
	margin-right: -5%;
	text-align: right;
	@media screen and (min-width: $break-xlarge) {
		margin-right: -15%;
	}
}
.article-content blockquote p {
	color: #0087b7;
	font-size: 21px;
	font-style: italic;
	margin: 15px 0;
}
.article-content .full-image {
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
	margin: 1.5em 0;
	@media screen and (min-width: $break-xlarge) {
		margin-left: -15%;
		margin-right: -15%;
	}
}
.article-content .full-image img {
	display: block;
	margin: 15px 0;
	width: 100%;
}
.article-content > p:first-of-type:first-letter {
	float: left;
	color: #111;
	font-size: 90px;
	line-height: 60px;
	padding-top: 13px;
	padding-right: 15px;
	padding-left: 3px;
	font-family: Georgia;
}

/* Spinner */
.spinner {
	background-color: #212121;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 200px;
	margin-left: -30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	opacity: 0;
}
.spinner img {
	display: block;
	margin: 14px auto;
}
.loading .spinner {
	opacity: 1;
}


/* Dark Theme
.menu {
	border-right: 1px solid #333;
	background: #222;
}
.main-nav {
	border-bottom: 1px solid #333;
	& li {border-top: 1px solid #333;}
	& a {color: #bbb;
		&:hover {
			color: #bbb;
			background-color: #000;
		}
	}
}
.main-nav .active {	background-color: #000;}

.preview-list {	background: #2a2a2a;}
.preview-link {	color: #bbb;}
.preview-title {color: #ddd;}
.preview-list ul li {border-bottom: 1px solid #333;}
.preview-link:hover {background: #000;}
 */

