/*-------------------------------------------
    Colors
-------------------------------------------*/
$link-color: #0088cc;
$yellow: #ffce39;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 17;
$base-font-size: 17px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "proxima-nova-alt-condensed",sans-serif;
$body-font: "ff-tisa-web-pro",serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 481px;
$break-medium: 769px;
$break-large: 980px;
$break-xlarge: 1140px;
$break-xxlarge: 1280px;